@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600;700&display=swap");

*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --blue: #4f7df3;
   --pale-blue: #c2d3ff;
   --light-red: #ff5263;
   --gray: #969696;
   --very-dark-blue: #151f29;

   --font-size-10: 62.5%; /* 10px */
   --font-fam-libre-franklin: "Libre Franklin", sans-serif;
   --font-weight-300: 300;
   --font-weight-400: 400;
   --font-weight-600: 600;
   --font-weight-700: 700;
}

html {
   font-size: var(--font-size-10);
   font-weight: var(--font-weight-400);
}

body {
   font-size: 2rem;
   font-family: var(--font-fam-libre-franklin);
   color: var(--gray);
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3rem; /*between main_content & footer */
   text-align: center;
   min-width: 32rem;
}

.main_content {
   max-width: 102.4rem;
   margin: 5rem 2rem;
}

/* ================= logo title cta start here ================= */
.logo_container {
   margin-bottom: 3rem;
}

.title_container {
   margin-bottom: 3rem;
}

.title {
   color: var(--very-dark-blue);
   font-weight: var(--font-weight-700);
   margin-bottom: 1.5rem;
}

.we_are {
   color: var(--gray);
   font-weight: var(--font-weight-300);
}

.cta {
   font-size: 1.6rem;
   font-weight: var(--font-weight-600);
}

/* ================= forms start here ================= */
form.field {
   margin-bottom: 7rem;
}

.email {
   width: 48rem;
   padding: 1.8rem 3rem;
   border-radius: 3rem;
   border: 0.1rem solid var(--pale-blue);
   font-weight: var(--font-weight-700);
}

.email::placeholder {
   opacity: 0.2;
}

.email:focus {
   outline: none;
   border: 0.1rem solid var(--blue);
}

/* for js classes */
.email.red_border {
   border-color: var(--light-red);
}

.warning {
   display: none;
   font-size: 1.3rem;
   color: var(--light-red);
}

/* for js classes */
.warning.message {
   display: unset;
   z-index: -1;
}

.notify_me_btn {
   width: 20rem;
   padding: 1.8rem;
   border: none;
   border-radius: 3rem;
   background-color: var(--blue);
   color: var(--pale-blue);
   font-weight: var(--font-weight-600);
   box-shadow: 0.5rem 0.5rem 2rem rgba(79, 125, 243, 0.3);
}

.notify_me_btn:hover {
   cursor: pointer;
   filter: brightness(110%) saturate(85%);
}

/* ================= dashboard is here ================= */
.dashboard {
   margin: auto;
   width: 85%;
}

.illustration {
   width: 85%;
}

/* ================= social media start here ================= */
.social_media_icon {
   margin-bottom: 4rem;
}

.social_media_icon ul {
   display: flex;
   gap: 2rem; /* between social media icon*/
   justify-content: center;
   list-style-type: none;
   margin-bottom: 4rem;
}

.fb_icon,
.twitter_icon,
.instagram_icon {
   width: 4.5rem;
   height: 4.5rem;
   border: 0.1rem solid rgba(150, 150, 150, 0.2);
   border-radius: 50%;
   padding: 0.5rem 1rem;
}

.icon:hover {
   cursor: pointer;
   background: var(--blue);
   border: 0.1rem solid var(--blue);
   filter: invert(10) sepia(1) saturate(100) hue-rotate(600deg) brightness(3);
}

.copyright {
   font-size: 1.3rem;
}

footer {
   font-size: 1.6rem;
   margin-bottom: 1rem;
}

footer a {
   text-decoration: none;
   color: var(--blue);
}

/* ================= desktop screen size here ================= */
@media (min-width: 48.1rem) {
   form.field {
      display: flex;
      align-items: baseline;
      justify-content: center;
      gap: 2rem; /*between input & button */
   }

   .warning {
      position: absolute;
   }

   .warning p {
      position: relative;
      top: 6rem;
      left: -21rem;
   }
}

/* ================= mobile screen size here ================= */
@media (max-width: 48.1rem) {
   .main_content {
      max-width: 48.1rem;
   }

   .ping_logo {
      width: 6.5rem;
      height: 2rem;
   }

   .title {
      font-size: 2.5rem;
   }

   .cta {
      font-size: 1.3rem;
   }

   .email {
      width: 100%;
      padding: 1.5rem 3rem;
      margin-bottom: 1.5rem;
   }

   .warning p {
      margin-bottom: 2.5rem;
   }

   .notify_me_btn {
      width: 100%;
      padding: 1.5rem;
   }

   .dashboard {
      width: 100%;
   }

   .illustration {
      width: 100%;
   }
}
